pkgbase = alda
	pkgdesc = A music programming language for musicians
	pkgver = 2.2.5
	pkgrel = 1
	url = https://github.com/alda-lang/alda
	arch = x86_64
	license = EPL
	makedepends = go
	makedepends = gradle
	depends = bash
	depends = java-runtime>=8
	source = alda-release-2.2.5.tar.gz::https://codeload.github.com/alda-lang/alda/tar.gz/refs/tags/release-2.2.5
	source = alda-player::https://alda-releases.nyc3.digitaloceanspaces.com/2.2.5/player/non-windows/alda-player
	sha256sums = 5895896dcaea7678ae6aeefae5c49c548ff7bd23d2337985e8c1bb7fe431898d
	sha256sums = bde2d7c169cdc0d59b6ed3f8babbfa056f3a9e640adc34ea868fb9510e881c9c

pkgname = alda
